{% trans_default_domain 'AppBundle' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="ticket">
	    <meta name="author" content="David Jaen Revert">
        <title>{% block title %}Djaen ticketing{% endblock %}</title>
        {% block stylesheets %}
        	<!-- Bootstrap -->
	        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
	        <!-- Latest compiled and minified CSS -->
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	        <!-- Optional theme -->
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	        <!-- Latest compiled and minified JavaScript -->
	        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	        <!--  Google font ROBOTO -->
	        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>        
	        {% stylesheets 'bundles/framework/css/mystyles.css' filter='cssrewrite' %}
			    <link rel="stylesheet" href="{{ asset_url }}"/>
			{% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body  data-spy="scroll" data-target=".navbarMain" data-offset="50">
    	<!-- Navbar -->
    	<nav class="navbar navbar-default navbar-opaque navbar-fixed-top">
      		<div class="container">
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
          			</button>
          			<a class="navbar-brand" href="{{ path('index') }}">Ticketing</a>
        		</div>
        		<div id="navbar" class="navbar-collapse collapse navbar-right">
          			<ul class="nav navbar-nav">
            			<li><a href="{{ path('index') }}">{{ 'index.navbar.home' | trans }}</a></li>
			            <li><a href="{{ path('incidencia') }}">{{ 'index.navbar.incidence' | trans }}</a></li>
			            {% if is_granted('ROLE_SUPER_ADMIN') %}
							<li><a href="{{ path('user') }}">{{ 'index.navbar.users' | trans }}</a></li>
						{% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        	<li class="dropdown">
                            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon glyphicon-user"></span> {{ app.user.username }}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                	<li role="separator" class="divider"></li>
                                    <li><a class="glyphicon glyphicon-log-out" href="{{ path('logout') }}">{{ 'index.navbar.logout' | trans }}</a></li>
                                </ul>
                            </li>
                      	{% else %}
                           	<li>
                            	<a data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> {{ 'index.navbar.access' | trans }}</a>
                            </li>
                        {% endif %}                            	
                        	<li>
                       	{% if is_granted('IS_AUTHENTICATED_FULLY')%}
            			{% else %}
                    		<a href="{{ path('newCliente') }}"><span class="glyphicon glyphicon-plus"></span> {{ 'index.navbar.sign_up' | trans }}</a>
                    	{% endif %}
                        	</li>
                        {#
	                        <li class="dropdown">
	                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
	                            role="button" aria-haspopup="true" aria-expanded="false">
	                            <span class="glyphicon glyphicon-flag"></span> {{ app.request.locale }} <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
	                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">es</a></li>                          
	                        		<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">en</a></li>
	                            </ul>
	                        </li>
	                    #}
                	</ul>
        		</div>
      		</div>
    	</nav>
		<!-- Login modal-->
        <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
               	<!-- Modal content-->
               	<div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Acceso</h4>                        
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" action="{{ path('login_check') }}" method="post" >                    
						
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        
                            <div class="form-group">
                                <label for="username" class="sr-only">{{ 'login.username' | trans }}</label>
    							<input type="text" id="username" name="_username" required="required" 
    								placeholder="Usuario o Correo" class="form-control input-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">{{ 'login.password' | trans }}</label>
    							<input type="password" id="password" name="_password" required="required"
    									 placeholder="Contraseña" class="form-control input-sm" />
                            </div>
                            <input type="submit" id="_submit" name="_submit"
                                   value="{{ 'login.button' | trans }}" class="btn btn-info btn-sm" />
                        </form>
                    </div>
                </div>
            </div>
        </div>	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        {% block body %}
        {% endblock %}
        <footer>
            <div class="footer">
                <div class="container-fluid">
                    <div class="footer-inner">
                        <div class="row">
                                <div class="col-sm-6 col-md-3 col-lg-2 col-lg-offset-1">
                                    <div class="footer-content">
                                        <h2 class="title">{{ 'index.find_us' | trans }}</h2>
                                        <ul class="list-icons">
                                            <li><i class="fa fa-home pr-10"></i> Ontinyent 46870, Valencia</li>
                                            <li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
                                            <li><a href="mailto:jaenxbox@gmail.com"><i class="fa fa-envelope-o pr-10"></i> jaenxbox@gmail.com</a></li>
                                        </ul>                                    
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-2 col-lg-offset-1">
                                    <div class="footer-content">
                                        <h2 class="title">{{ 'index.follow' | trans }}</h2>
                                        <div class="nav navbar-nav">
					                        <a href="https://github.com/jaenbox"><i class="fa fa-github fa-3x social-icon"></i></a>
        									<a href="https://www.linkedin.com/in/davidjaen"><i class="fa fa-linkedin fa-3x social-icon"></i></a>
					                        <a href="https://twitter.com/jaen64bits"><i class="fa fa-twitter fa-3x social-icon"></i></a>					                        
                    					</div>  
                                    </div>
                                </div>
                                <div class="clearfix visible-sm"></div>
                                <div class="col-md-6 col-lg-4 col-lg-offset-1">
                                    <div class="footer-content">
                                        <h2 class="title">{{ 'index.contact' | trans }}</h2>
                                        <form role="form" id="footer-form" class="margin-clear">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group has-feedback mb-10">
                                                        <label class="sr-only" for="name">{{ 'index.form.find_us' | trans }}</label>
                                                        <input type="text" class="form-control" id="name2" placeholder="Nombre" name="name">
                                                        <i class="fa fa-user form-control-feedback"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group has-feedback mb-10">
                                                        <label class="sr-only" for="email">{{ 'index.form.email' | trans }}</label>
                                                        <input type="email" class="form-control" id="email" placeholder="Direción de correo" name="email">
                                                        <i class="fa fa-envelope form-control-feedback"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback mb-10">
                                                <label class="sr-only" for="message">{{ 'index.form.message' | trans }}</label>
                                                <textarea class="form-control" rows="4" id="message2" placeholder="Mensaje" name="message"></textarea>
                                                <i class="fa fa-pencil form-control-feedback"></i>
                                            </div>
                                            <input type="submit" value="{{ 'index.form.send' | trans }}" class="margin-clear submit-button radius-50 btn btn-default">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="subfooter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="texto-centrado">Copyright © 2016 Proyecto CFGS David Jaén Revert - CEEDCV</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    </body>
</html>